img {
    width: 100%;
    vertical-align: top;
}
html,
body {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    padding: 1px;
    /* 水平方向铺满 */
    background: url("../images/header-bg.png") repeat-x;
}

.search-box {
    margin-top: 5px;
    height: 30px;
    padding-left: 54px;
    padding-right: 50px;
}

.search-box input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid #ccc;
}
i.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 44px;
    background: url("../images/jd-sprites.png") no-repeat;
    background-position: -20px 2px;
    background-size: 200px 200px;
    padding: 10px 11px;
    box-sizing: border-box;
    background-clip: content-box;
    background-origin: content-box;
}
i.more {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 44px;
    background: url("../images/jd-sprites.png") no-repeat;
    background-position: -60px 2px;
    /* 背景图片尺寸，原图为二倍图 */
    background-size: 200px 200px;
    /* padding会将图片撑大 */
    padding: 8px 11px;
    box-sizing: border-box;
    background-origin: content-box;
    background-clip: content-box;

}

/* 主体部分 */
.jdm-sort {
    height: 100%;
}
main {
    position: fixed;
    top: 44px;
    display: flex;
    background-color: #fff;
    height: 100%;
}
.recommend {
    height: 100%;
    width: 90px;
    overflow: hidden;
}

main .recommend li {
    height: 50px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-bottom: 0;
    line-height: 50px;
    text-align: center;
    font-size: 14px;
    background-color: #f7f7f7;
}
main .recommend li:last-child {
    border-bottom: 1px solid #ccc;
}
.recommend li.active {
    background-color: #fff;
    border-right: 0;
    border-top: 0;
    color: #c91523;
}
article {
    flex: 1;
}
article .brand {
    height: 100%;
    padding: 0 10px;
    overflow-y: scroll;
}
.title h3 {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    font-weight: normal;
    color: #aaa;
}
.hot-intruduce ul {
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    overflow: hidden;
}
.hot-intruduce li {
    width: 33.33%;
    height: 50px;
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 50px;
    text-align: center;
    box-sizing: border-box;
}

.hot-shopguide li {
    width: 30%;
    float: left;
    text-align: center;
}
.hot-shopguide li span {
    display: block;
    /* 行内元素不能设置上下方向的margin和padding */
    margin-top: 5px;
}

